<h1>Songs</h1>


<ul>
<% @songs.each do |song| %>
    <h3><%= "#{song.artist.song_count} song" %></h3>
    <li><%= link_to "#{song.artist.name} - #{song.title}", song_path(song) %></li>
<% end %>
</ul>